.2_103 {
	overflow:hidden;
}
.e2_103 {
	background-color:rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e2_104 {
	width:702.1611328125px;
	height:468.4499206542969px;
	position:absolute;
	left:679px;
	top:295.35919189453125px;
	background-image:url(images/klh1oae5wvu.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_105 {
	color:rgba(255, 255, 255, 1);
	width:529px;
	height:96px;
	position:absolute;
	left:89px;
	top:138px;
	font-family:Poppins;
	text-align:left;
	font-size:64px;
	letter-spacing:2;
}
.e2_107 {
	color:rgba(255, 255, 255, 1);
	width:601px;
	height:261px;
	position:absolute;
	left:94px;
	top:324px;
	font-family:Nokora;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:2;
}
.e2_108 {
	width:379px;
	height:76px;
	position:absolute;
	left:531px;
	top:5px;
}
.e2_109 {
	color:rgba(255, 255, 255, 1);
	width:379px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nokora;
	text-align:left;
	font-size:64px;
	letter-spacing:2;
}
.e2_110 {
	width:50px;
	height:50px;
	position:absolute;
	left:196px;
	top:19px;
}
.e2_111 {
	border-radius:500px;
	background-color:rgba(76.0000030696392, 80.00000283122063, 81.00000277161598, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_112 {
	width:45.45454406738281px;
	height:45.45454406738281px;
	position:absolute;
	left:2.2727348804473877px;
	top:2.2727348804473877px;
}
.e2_113 {
	width:45.45454406738281px;
	height:45.45454406738281px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_114 {
	background-color:rgba(255, 255, 255, 1);
	width:45.45454406738281px;
	height:45.45454406738281px;
	position:absolute;
	left:0.000013709068298339844px;
	top:0px;
}
.e2_115 {
	transform: rotate(90deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:22.727294921875px;
	top:-8.24799371912377e-7px;
}
.2_115 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_116 {
	transform: rotate(90deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:22.727294921875px;
	top:39.09090042114258px;
}
.2_116 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_117 {
	transform: rotate(139.3987064662526deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:8.468052864074707px;
	top:30.45453453063965px;
}
.2_117 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_118 {
	transform: rotate(113.34268495704987deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:14.79423713684082px;
	top:36.36363220214844px;
}
.2_118 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_119 {
	transform: rotate(178.86781971727734deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:6.362422466278076px;
	top:22.727264404296875px;
}
.2_119 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_120 {
	transform: rotate(178.86781971727734deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:45.45332336425781px;
	top:22.727264404296875px;
}
.2_120 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_121 {
	transform: rotate(-155.3455335041575deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:43.34568405151367px;
	top:33.208335876464844px;
}
.2_121 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_122 {
	transform: rotate(-121.244638170896deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:35.74067687988281px;
	top:41.87410354614258px;
}
.2_122 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_123 {
	transform: rotate(-144.68353843402562deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:8.792143821716309px;
	top:14.105127334594727px;
}
.2_123 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_124 {
	transform: rotate(-121.46621061709692deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:15.241168022155762px;
	top:8.178421020507812px;
}
.2_124 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_125 {
	transform: rotate(-71.43379313718307deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:30.93657875061035px;
	top:8.295804023742676px;
}
.2_125 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_126 {
	transform: rotate(-33.51265819004657deg);
	width:6.3636369705200195px;
	height:0px;
	position:absolute;
	left:36.5388069152832px;
	top:13.214879989624023px;
}
.2_126 {
	border:1px solid rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
}
.e2_127 {
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:4.545454502105713px;
	height:4.545454502105713px;
	position:absolute;
	left:20.454559326171875px;
	top:20.45452880859375px;
}
.e2_130 {
	color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:310px;
	height:56px;
	position:absolute;
	left:275px;
	top:748px;
	font-family:Poppins;
	text-align:left;
	font-size:36px;
	letter-spacing:2;
}
.e2_131 {
	color:rgba(157.0000058412552, 156.00000590085983, 155.00000596046448, 1);
	width:310px;
	height:56px;
	position:absolute;
	left:132px;
	top:756px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:2;
}
.e2_132 {
	width:369px;
	height:61px;
	position:absolute;
	left:227px;
	top:826px;
}
.e2_133 {
	background-color:rgba(0, 0, 0, 1);
	width:253px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:65px;
	border-top-right-radius:65px;
	border-bottom-left-radius:65px;
	border-bottom-right-radius:65px;
}
.e2_134 {
	color:rgba(255, 255, 255, 1);
	width:310px;
	height:56px;
	position:absolute;
	left:59px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:2;
}
.e2_135 {
	width:63.47314453125px;
	height:50.473602294921875px;
	position:absolute;
	left:1351px;
	top:26px;
}
.e2_136 {
	transform: rotate(-179.82138001356043deg);
	width:50px;
	height:50px;
	position:absolute;
	left:63.47314453125px;
	top:0.473846435546875px;
}
.e2_137 {
	transform: rotate(-2.6851026166833672e-17deg);
	width:4.166667938232422px;
	height:4.1666717529296875px;
	position:absolute;
	left:16.666656494140625px;
	top:41.666656494140625px;
}
.2_137 {
	border:5.860906600952148px solid rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
}
.e2_138 {
	transform: rotate(-2.68509995077323e-17deg);
	width:4.166667938232422px;
	height:4.166667938232422px;
	position:absolute;
	left:39.58332443237305px;
	top:41.66666793823242px;
}
.2_138 {
	border:5.860906600952148px solid rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
}
.e2_139 {
	transform: rotate(-2.68509995077323e-17deg);
	width:45.83333206176758px;
	height:31.250762939453125px;
	position:absolute;
	left:2.0833239555358887px;
	top:2.083336114883423px;
}
.2_139 {
	border:5.860906600952148px solid rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
}
.e2_140 {
	transform: rotate(-2.69358472501666e-9deg);
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:9.402398859492678e-10px;
}
.e2_141 {
	transform: rotate(-2.69358472501666e-9deg);
	border-radius:500px;
	background-color:rgba(176.37499898672104, 255, 207.82501459121704, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_142 {
	transform: rotate(-2.69358472501666e-9deg);
	color:rgba(0, 0, 0, 1);
	width:5px;
	height:18px;
	position:absolute;
	left:8.000000000094133px;
	top:1.9999999996239026px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e2_143 {
	background-color:rgba(252.87500202655792, 242.3385626077652, 147.51042544841766, 0.8700000047683716);
	width:30px;
	height:30px;
	position:absolute;
	left:94px;
	top:648px;
}
.e2_144 {
	background-color:rgba(252.87500202655792, 242.3385626077652, 147.51042544841766, 0.8700000047683716);
	width:30px;
	height:30px;
	position:absolute;
	left:124px;
	top:648px;
}
.e2_145 {
	background-color:rgba(252.87500202655792, 242.3385626077652, 147.51042544841766, 0.8700000047683716);
	width:30px;
	height:30px;
	position:absolute;
	left:154px;
	top:648px;
}
.e2_146 {
	background-color:rgba(252.87500202655792, 242.3385626077652, 147.51042544841766, 0.8700000047683716);
	width:30px;
	height:30px;
	position:absolute;
	left:184px;
	top:648px;
}
.e2_147 {
	background-color:rgba(252.87500202655792, 242.3385626077652, 147.51042544841766, 0.8700000047683716);
	width:30px;
	height:30px;
	position:absolute;
	left:214px;
	top:648px;
}
.e2_148 {
	color:rgba(255, 255, 255, 1);
	width:126px;
	height:27px;
	position:absolute;
	left:263px;
	top:651px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
}
